html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  transition: background-color 0.4s, color 0.4s, filter 0.4s;
}

html.modo-claro, body.modo-claro {
  background-color: white;
  color: black;
}

html.modo-oscuro, body.modo-oscuro {
  background-color: #1e1e1e;
  color: white;
}
