
body{
  margin: 0;
  font-family: Arial, sans-serif;

  background-image: url("../Html/fotos/Slide\ 16_9\ -\ 1\ \(1\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  position: relative;
}

body::before{
  content:"";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 0;
}

.contenedor{
  position: relative;
  z-index: 2;

  width: 100%;
  max-width: 1100px;
  margin: 80px auto;
  padding: 40px 60px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}

.contenedor input{
  background: transparent;
  border: none;
  border-bottom: 8px solid #d9d9d9;

  font-size: 32px;
  font-weight: 800;
  color: white;

  padding: 10px 0;
  outline: none;
}

.botones{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
  margin-top: 40px;
}

.boton{
  width: 220px;
  height: 70px;

  border-radius: 40px;
  border: 3px solid rgba(255,255,255,0.7);
  background: rgba(200,200,200,0.85);

  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;

  cursor: pointer;
  transition: 0.2s;
}

.boton:hover{
  transform: scale(1.05);
}